.container
{
    filter: blur(5px);
    width: 150vh;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
.container1
{
    
    margin-left:5%;

    
    


}
.word1
{
    font-weight:bold;
    display: inline-block;
    margin-top:90px;
    
    

}
.word2
{
    font-weight:normal;
    display: inline-block;
    margin-top: 90px;
    color: gray;
    

}
.lightfont
{
    font-weight:lighter;
    color:darkgray;
    float:right;
    margin-top:90px;
    margin-right: 25%;
}

.cardbox
{
  
   
    height: 60%;
    width:90vh;
    margin-top: 66px;
    margin-left:20%;
    margin-bottom:90%;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around ;

    
    
    
   
   
  

}

.style
{
    color:orangered;
    margin-left:20%;
}

.card1
{
    box-shadow:  4px 4px 7px gray;
    width:30%;
    border: 1px solid orangered;
    border-radius: 10px;
}

label
{
    margin-left:6%;
}
input
{
    margin-left:20%;
}

.card2
{
    box-shadow:  4px 4px 7px gray;
    width:30%;
    border: 1px solid orangered;
    border-radius: 10px;
}

.card3
{
    box-shadow:  4px 4px 7px gray;
    width:30%;
    border: 1px solid orangered;
    border-radius: 25px;
}



h3
{
    font-size:24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: lighter;
}

.fa 
{
    color: #e74c3c;
    
    margin-left:45%;
}
hr
{
    max-width: 80%;
    margin-right:0%;

}
.new_card
{
    box-shadow:  4px 4px 7px gray;
    width:30%;
    height: 175px;
    border: 1px solid orangered;
    text-align:center;
    margin-left:40%;
  margin-right: 3em;
  margin-top:-30em;
  margin-right:10em;
  border-radius: 20px;
  
   
}
#name
{
   width:300px;
 
}

.add
{
    font-size: 20px;
    color: orangered;
}
.ADD
{
  border-radius:25px ;
  color:white;
  background-color: orangered;
  width:100px;
  height:30px;
  
}